table {
    margin-left: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

tr {
    width: 100%;
    font-size: 1.75em;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.transactionList {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}










html, body {
    background-color: #F7F0F0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 60px;
    width: 60px;
    margin-left: 10px;
    padding-top: 7px;
    float:left;
    border-radius: 12px;
}

nav {
    width: 100%;
    height: 75px;
    background-color: #476C9B;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 15px;
    padding-top: 25px;
    padding-left: 30px;
    color: #F7F0F0;
    font-size: 1.5em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: #F7F0F0;
    text-decoration: none;
    padding: 15px;
    border-radius: 4px;
    background-color: #476C9B;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.6s ease;
    background-color: #577CAB;
}

.newPassForm {
    height: 150px;
    width: 500px;
    margin: 0px auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #678CBB;
    border-radius: 5px;
}

.newPassForm label {
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    width: 40%;
    margin-left: 20px;
    font-size: 1.2em;
    float: left;
    color: #F7F0F0;
}

.newPassForm h1{
    text-align: center; 
}

.newPassForm input[type=text] {
    float: left;
}

.newPassForm input[type=submit] {
    display: block;
    margin: 0px auto;
    margin-top: 20px;
}

.transactionForm {
    height: 50px;
    width: 500px;
    margin: 0px auto;
    margin-top: 20px;
    padding-top: 30px;
    background-color: #476C9B;
    border-radius: 5px;
}

.transactionForm label {
    display: inline-block;
    text-align: center;
    width: 40%;
    margin-left: 0px;
    font-size: 1.2em;
    float: left;
    color: #F7F0F0;
}

.transactionForm input[type=text] {
    float:left;
}

.buyForm {
    height: 50px;
    width: 500px;
    margin: 0px auto;
    margin-top: 20px;
    padding-top: 30px;
    background-color: #476C9B;
    border-radius: 5px;
}

.buyForm label {
    display: inline-block;
    text-align: center;
    width: 20%;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: #F7F0F0;
}

.buyForm input[type=number] {
    margin-left: 30px;
}

.buyForm input[type=submit] {
    margin-left: 30px;
}

.buyForm span:first-child{
    margin-left: -15px;
}

.buyForm span {
    font-size: 1.1em;
    color: #F7F0F0;
}

.makeTransactionSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    margin: 0px auto;
    background-color: #375C7B;
    border-radius: 2px;
    color: #F7F0F0;
    text-decoration: none;
}

.makeTransactionSubmit:link, .makeTransactionSubmit:visited, .makeTransactionSubmit:hover, .makeTransactionSubmit:active {
    color: #F7F0F0;
}

.makeTransactionSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.mainForm {
    height: 250px;
    width: 350px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 40px;
    font-size: 1.2em;
    background-color: #FBF9F9;
}

.mainForm h1{
    text-align: center;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 7px;
    margin-top: 30px;
    font-size: 1.2em;
    width: 100px;
    background-color: #476C9B;
    border-radius: 5px;
    border-color: #66acee;
    padding: 3px 0px;
    color: #F7F0F0;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: #F7F0F0;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #134a7c;
}

#user, #pass, #pass2, #age {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#transaction {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

.transactionList{
    width: 100%;
}

#transactions {
    padding: 50px;
    background-color: #FBF9F9;
    width: 60%;
    min-width: 400px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 40px;
}

.transaction {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #55acee;
    border-radius: 4px;
    background-color: #55acee;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.transaction:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}

img.transactionFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top: 10px;
    float: left;
}

h3.emptyTransaction {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.transactionName {
    float: left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.transactionAge {
    float: right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

.transaction:first-child {
    margin-top: 10px;
}

.transaction:last-child {
    margin-bottom: 10px;
}